@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Snippet maker</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Snippet maker</h2>
        <p>
            The snippet maker allows you to create snippets and export them for download and use within your Visual Studio installation.
        </p>        
    </div>
</div>